/* Reset básico para remover margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do menu de navegação */
nav {
    background-color: #333;
    padding: 20px;
    display: flex;
    align-items: end;
   


}

.nav-menu {
    list-style: none;  
    justify-content: center; /* Centraliza o menu horizontalmente */
    align-items: end;
    
    
    
}

.nav-menu li {
    margin: 0 15px; /* Espaçamento entre os itens */
    display: flex;
    display: inline;
    align-items: end;
    
   
    
}

.nav-menu a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: flex;
    display: inline;
    transition: background-color 0.3s ease; /* Transição suave para a mudança de cor */
}

.nav-menu a:hover {
    background-color: #575757;
    border-radius: 5px; /* Bordas arredondadas ao passar o mouse */
}

/* Estilo do corpo */
body {
    font-family: Arial, sans-serif;
}
